<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobikulMPMagento2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
				<key>dateExpires</key>
				<string>2021/6/5</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Pastel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5DD6ED73A06264A6603B6C1D39AD2D2ABCB8892</string>
						<key>dateExpires</key>
						<string>2021/6/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8BF8687AT7</string>
						<key>name</key>
						<string>3TI Solutions, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8BF8687AT7.cc.chaincommerce.es</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8BF8687AT7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MobikulMPMagento2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b052c99d-8daf-4905-900a-eef0fd9816e9</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: cc.chaincommerce.es</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8BF8687AT7</string>
				<key>name</key>
				<string>3TI Solutions, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
